body{
    background-color: black;
}
#field{
    background-color: blanchedalmond;
    min-height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.XO{
    min-height: 98px;
    width: 98px;
    text-align: center;
    float: left;
    border: double black 1px;
}