body{
    background-color: black;
}
#field{
    background-color: white;
    min-height: 300px;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.XO{
    min-height: 98px;
    width: 98px;
    text-align: center;
    float: left;
    border: double black 1px;
    padding: 0px;
    margin: 0;
}
.XO img {
    width: 0px;
    min-height: 0px;

}
.XO:hover {
    background: #fafafa;
}
.X0.X{
    min-height: 98px;
    width: 98px;
    text-align: center;
    float: left;
    border: double black 1px;
}
.XO.O{
    min-height: 98px;
    width: 98px;
    text-align: center;
    float: left;
    border: double black 1px;
}
